<table class="table table-striped table-hover">
  <tbody>
{{#each metadata.users}}
  <tr>
    <td>
      {{#link-to-record record=this}}
        {{we-avatar id=id style='thumbnail'}}
      {{/link-to-record}}
    </td>
    <td>
      {{#link-to-record record=this}}{{displayName}}{{/link-to-record}}
    </td>
    <td>
      <we-contact-btn data-userid="{{../req.user.id}}" data-contactuserid="{{id}}" class="btn btn-default">{{t 'contact-btn-text-add' }}</we-contact-btn>
    </td>
  </tr>
{{else}}
  <tr>
    <td colspan="3" class="text-center"><p>{{t 'contact.find.empty'}}</p></td>
  </tr>

{{/each}}

  </tbody>
  <tfoot>
    <td colspan="3">
      {{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}
    </td>
  </tfoot>
</table>